{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="row">
        <div class="col-12">
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="ingredients">
              <div type="button" class="btn btn-success" onclick="addIngredient()">Add ingredient</div><br />

            </div>
            {% for ingredient in ingredients %}
            <div class="multiform multiform-item row">
              <div class="input-field col m1">
                {{ ingredient.quantity_amount }}
                <label>{{ ingredient.quantity_amount.label }}</label>
              </div>
              <div class="input-field col m3">
                {{ ingredient.quantity }}
                <label>Quantity type</label>
              </div>
              <div class="input-field col m7">
                {{ ingredient.ingredient }}
                <label>{{ ingredient.ingredient.label }}</label>
              </div>
            </div>
            {% endfor %}
            <br/>
            <div class="multiform">
              <div class="input-field col m1">
                {{ ingredient_item.quantity_amount }}
                <label>{{ ingredient.quantity_amount.label }}</label>
              </div>
              <div class="input-field col m3">
                {{ ingredient_item.quantity }}
                <label>Quantity type</label>
              </div>
              <div class="input-field col m7">
              </div>
              <div class="input-field col m4">
                {{ ingredient_item.ingredient }}
                <label>{{ ingredient.ingredient.label }}</label>
              </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
          </form>
        </div>
      </div>
{% endblock %}

{% block custom_js %}
      <script src="{% static 'js/multiform.js' %}"></script>
      <script>
        $( ".multiform").multiForm("{{ ingredient_prefix }}");
        var elem = document.querySelector('select');
        var instance = M.FormSelect.init(elem);

        // Or with jQuery

        $(document).ready(function(){
          $('select').formSelect();
        });
      </script>
{% endblock %}
