{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="row">
        <div class="col-12">
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="ingredients">
              <div type="button" class="btn btn-success" onclick="addIngredient()">Add ingredient</div><br />

            </div>
            {% for ingredient in ingredients %}
            <div class="multiform multiform-item">
              {{ ingredient.quantity_amount.label }}
              {{ ingredient.quantity_amount }}
              {{ ingredient.quantity }}
              {{ ingredient.ingredient }}
            </div>
            {% endfor %}
            <br/>
            <div class="multiform">
              {{ ingredient_item.quantity_amount.label }}
              {{ ingredient_item.quantity_amount }}
              {{ ingredient_item.quantity }}
              {{ ingredient_item.ingredient }}
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
          </form>
        </div>
      </div>
{% endblock %}

{% block custom_js %}
      <script src="{% static 'js/multiform.js' %}"></script>
      <script>
        $( ".multiform").multiForm("{{ ingredient_prefix }}");
      </script>
{% endblock %}
