{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Meal manager app">
    <meta name="keywords" content="Meal management, Recipes">
    <meta name="author" content="Malcolm VanOrder">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- build:css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">
      upgrade your browser</a> to improve your experience and security.
    </p>
    <![endif]-->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li class="active"><a class="nav-link" href="#">Home</a></li>
            <li><a href="{% url 'recipes.views.recipes_view' %}">Recipes</a></li>
            <li><a href="{% url 'recipes.views.create' %}">Create recipe</a></li>
            <li><a href="#">Disabled</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li class="active"><a class="nav-link" href="#">Home</a></li>
            <li><a href="{% url 'recipes.views.recipes_view' %}">Recipes</a></li>
            <li><a href="{% url 'recipes.views.create' %}">Create recipe</a></li>
            <li><a href="#">Disabled</a></li>
          </ul>
          <!--a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
          </a-->
          <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
        </div>
      </nav>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- build:js -->
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
    </script>
    <script>
      window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
      $('.button-collapse').sideNav();
    </script>
    <!-- Custom JS -->
    {% block custom_js %}
    {% endblock %}
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
     <!-- endbuild -->
  </body>
</html>
